<p>Берлин</p>
$gallery("berlin")$
<p>Хорватия</p>
$gallery("croatia")$
<p>Греция</p>
$gallery("greece")$
<p>Карелия</p>
$gallery("karelia")$
<p>Англия</p>
$gallery("england")$
<p>Латвия</p>
$gallery("latvia")$
